extends ../layout

block content
  h1(class="title has-text-centered is-primary")= post.airport
  div(class="box mt-4")
    table(class="table is-fullwidth")
      tbody
        tr
          th(colspan="3")= formatDate(post.createdAt)
        tr
          th 항목
          th(colspan="2") 정보콘텐츠
        tr
          td 공항명
          td(colspan="2")
            pre= post.airport
        tr
          td 계류장면적(단위:제곱미터)
          td(colspan="2")
            pre= post.area_apron
        tr
          td 항공기 계류장 주기 가능대수
          td(colspan="2")
            pre= post.capacity_apron
        tr
          td 주차장면적(단위:제곱미터)
          td(colspan="2")
            pre= post.area_parking
        tr
          td 자가용 주차장 주차 가능대수
          td(colspan="2")
            pre= post.capacity_parking

    a(href="/posts"): button(class="button mr-2 is-2") 공항별 목록
    a(href="?edit=true"): button(class="button is-info is-2 mr-2") 공항 계류장 및 주차장 정보수정
    button(class="button is-danger" onclick='deletePost()') 공항 계류장 및 주차장 정보삭제
  script(type="text/javascript").
    function deletePost() {
      fetch('/posts/#{post.shortId}', { method: 'delete' })
        .then((res) => {
          if (res.ok) {
            alert('공항 계류장 및 주차장 정보가 삭제되었습니다.');
            window.location.href = '/posts';
          } else {
            alert('오류가 발생했습니다.');
          }
        })
        .catch((err) => {
          alert('오류가 발생했습니다.');
        });
    }